<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>MessageBoard</title>
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
</head>
<body>
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Message Board</a>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row">

            <div class="col-lg-8" id="message-board-container">

            </div>

            <div class="col-lg-4">
                <div class="well">
                    <h4>Build this app with:</h4>
                    <h5>Web:Bootstrap,React,jQuery</h5>
                    <h5>Backend:Flask,flask-mongoengine</h5>
                    <h5>Database:MongoDB</h5>
                </div>

            </div>
        </div>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; defshine 2015</p>
                </div>
            </div>
        </footer>

    </div>

   <script type="text/javascript" src="../static/js/build/bundle.js"></script>
</body>
</html>