{% extends 'base.html'%}
{% block title %}首页{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block main %}

    <ul>
        {% for question in questions%}
        <li>
            <div class="avatar-group">
                <img src="{{url_for('static', filename='images/3.jpg')}}" alt="" class="avatar">
            </div>
            <div class="question-group">
                <p class="question-title"><a href="{{url_for('detail', question_id=question.id)}}">{{question.title}}</a></p>
                <p class="question-content">{{question.content}}</p>
                <div class="question-info">
                    <span class="question-author">{{question.author.username}}</span>
                    <span class="question-time">{{question.create_time}}</span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
