label {
    width: 50%;
    display:inline-block;
    text-align: right;
}

h1 {
    text-align: center;
}

.helptext {
    display: block;
    text-align: right;
}

.b {
    text-align:center;
}

table {
    width: 100%;
    text-align: center;
}

tr {
    vertical-align:top;
}

.list {
    width: 300px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.next,.pre {
    display: inline-block;
    width:70px;
}

.detail{
    display: inline-block;
    width:150px;
}