<html>
    <head>
        <meta charset="utf-8">
        <title>简易留言本</title>
    </head>
    <body>
        <h1>简易留言本</h1>
        <form action="/guesttalk" method="get">
            名字：<input type="text" name="name" maxlength ="40" value="{{ name }}" />
            <br>
            <textarea name="commits" maxlength="1000" rows="10" cols="80" ></textarea>
            <br>
            <input type="submit">
            <input type="reset">
        </form>
        <div>
            {% for commit in commits %}
            <div>
                <h3>{{ commit.date|date:"Y-n-j H:i:s" }} {{ commit.name }}</h2>
            </div>
            <div style="word-break:break-all">{{ commit.message|escape|linebreaks|wordwrap:"75" }}</div>
            {% endfor %}
        </div>
    </body>
</html>