<html>
    <head>
        <title>{{ user_name }}的任务列表</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "global.css" %}" />
    </head>
    <body>
    <h1>{{ user_name }}的任务列表</h1>
    <div class='helptext'>我不是{{ user_name }}, 我要<a href="logout">退出</a></div>
    <form action="/" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>添加新的任务</th>
            </tr>
            <tr>
                <td>
                    <input type="text" name="detail" style="width:900px" />
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="添加" /></td>
            </tr>
        </table>
    </form>
    <table>
        <tr>
            {% for item in status %}
                <th width="300px">{{ item.status }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for item in lists %}
                <td width="300px" align="center">
                    {% for i in item %}
                    <div class='list'>
                        {% if not i.status = firststatus %}
                        <div class='pre'>
                            <form action="/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="pre" value="{{ i.id }}" />
                                <input type="submit" value="上一步">
                            </form>
                        </div>
                        {% endif %}
                        <div class='detail' title='{{ i.createdate|date:"Y-n-j H:i:s" }}'>
                         {{ i.detail}}
                        </div>
                        {% if not i.status = laststatus %}
                        <div class='next' >
                            <form action="/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ i.id }}" />
                                <input type="submit" value="下一步">
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
    </table>
</body>