<html>
    <head>
        <title>登录</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "global.css" %}" />
    </head>
    <body>
        <h1>登录</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class='b'>
                <input type="submit" value="登录" />
                <input type="hidden" name="next" value="{{ next|escape }}" />
            </div>
        </form>
        <form action="/register">
            <div class='b'>
                <input type="submit" value="注册">
            </div>
        </form>
    </body>
</html>